<html>
    <head>
        <title>Поиск по запросу {{query}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">
    </head>

    <body>
        <a href="/">
            <div align="center" id="header">
                Учебный корпус Habr.com
            </div>  
        </a>

        <div align="center">
            <form action="/send_request" method="post">
               <p>Ваш запрос</p>
               <p><input type="text" name="query" value="{{query}}"/></p>
               <p><input type="submit" value="Поиск" id="search_button"/></p>
            </form> 
        </div>  

        <div align="center">Найдено документов: {{results_num}}</div>
        {% if pages_num > 1 %}
        <div align="center">
            {% if current_page_id > 1 %}
	    <a href="{{full_path.replace('[PAGE_NUM]', (current_page_id-1)|string)}}" class="page_link">&#8592; Назад</a>
	    {% endif %}
	    {% for page_id in range((current_page_id//10)*10 + 1, [(current_page_id//10+1)*10, pages_num]|min + 1) %}
	    {% if page_id == current_page_id %}
	    <a href="{{full_path.replace('[PAGE_NUM]', page_id|string)}}" class="current_page_link">{{page_id}}</a>
	    {% else %}
	    <a href="{{full_path.replace('[PAGE_NUM]', page_id|string)}}" class="page_link">{{page_id}}</a>
	    {% endif %}
	    {% endfor %}
            {% if current_page_id < pages_num %}
	    <a href="{{full_path.replace('[PAGE_NUM]', (current_page_id+1)|string)}}" class="page_link">Вперёд &#8594;</a>
	    {% endif %}
        </div>
        {% endif %}

        {% if results_num >= 1 %}
        <div id="document_list">
            {% for document in documents %}
            <div>
                <font color="grey" size="2">{{document.time}}</font>
                <h3>
                    <a href="/view_doc?id={{document.doc_id}}" class="doc_title">{{document.title}}</a>
                    <font color={{"green" if document.likes|int > 0 else "red"}}>{{document.likes}}</font>
                </h3>
                <span>{{document.text.split()[:100]|join(' ')}}...</span>
     	        <div class="document_bottom">
                {% for hub in document.hubs %}
	            <a href="/?cat={{hub}}" class="page_link">{{hub}}</a>
                {% if hub != document.hubs[-1] %}|{% endif %}
                {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div align="center">По Вашему запросу нет ответов. Попробуйте его переформулировать.</div>
        {% endif %}
    </body>
</html>
